<footer class="footer">
  <small>
    &copy;<%= t ".content" %>
  </small>
  <nav>
    <ul>
      <li><%= t ".categories" %>
        <ul>
          <li><%= link_to t(".women"), "#" %></li>
          <li><%= link_to t(".men"), "#" %></li>
        </ul>
      </li>
      <li><%= t ".offer" %>
        <ul>
          <li><%= link_to t(".sale"), "#" %></li>
          <li><%= link_to t(".comings"), "#" %></li>
          <li><%= link_to t(".new"), "#" %></li>
        </ul>
      </li>
      <li><%= t ".services" %>
        <ul>
          <li><%= link_to t(".ship_infor"), "#" %></li>
          <li><%= link_to t(".contact"), "#" %></li>
        </ul>
      </li>
    </ul>
  </nav>
</footer>
