<hr>
<footer class="footer ">
  <small class="col-md-4">
    &copy;<%= t ".content" %>
  </small>
  <div class="col-md-8">
    <ul>
    <div class="col-md-4">
      <h4><%= t ".categories" %></h4>
      <%= link_to t(".women"), "#" %><br>
      <%= link_to t(".men"), "#" %>
    </div>

    <div class="col-md-4">
      <h4><%= t ".offer" %></h4>
      <%= link_to t(".sale"), "#" %><br>
      <%= link_to t(".comings"), "#" %><br>
      <%= link_to t(".new"), "#" %>
    </div>

    <div class="col-md-4">
      <h4><%= t ".services" %></h4>
      <%= link_to t(".ship_infor"), "#" %><br>
      <%= link_to t(".contact"), "#" %>
    </div>
  </div>
</footer>
